.info { font-size: 0.8em;}
#chatbotimg {margin-bottom:2px}
#feedbackSpan {float:right; display:none}
.responseLabel{font-weight:bold; display: none;}
.container section:first-of-type {
    padding-bottom: 0px;
    margin-bottom: 0px; 
}
.container section:last-of-type {
    padding-top: 0px; 
    margin-top: 10px;
}
.feedbackButton {cursor: pointer;}